@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$speed: 10s;
$wordCount: 5;

.g-container {
    position: relative;
    width: 100%;
    // height: 100%;
    height: 500px;
    // width: 100vw;
    // height: 100vh;
    background-color: var(--navbar-background-color);
    // font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
    font-size: 5rem;
    filter: contrast(100);
}

.word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: change $speed infinite ease-in-out;

    @for $i from 0 to $wordCount {
        &:nth-child(#{$i + 1}) {
            animation-delay: ($speed / ($wordCount ) * $i) - $speed;
        }
    }
}

@keyframes change {

    0%,
    5%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }

    50%,
    80% {
        filter: blur(80px);
        opacity: 0;
    }
}